<div id="welcome">
  <p>
    Welcome to <strong>Question/Answer</strong>, your place to find all the answers to your most urgent queries. Ask a question, give some answers, or rate answers. And remember, play nice!
  </p>
  {{#link-to 'new'}}<button class="btn btn-lg">Ask a Question!</button>{{/link-to}}
</div>
<div class="question-list">
  <h1>Latest Questions...</h1>
  <hr>
  <ul>
    {{#each model as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </ul>
</div>
