<div id="welcome">
  <p>
    <strong>Welcome</strong> to Question/Answer, your place to find all the answers to your most urgent queries. Ask a question, give some answers, or rate answers. And remember, play nice!
  </p>
  {{#link-to 'new'}}<button class="btn">Ask a Question!</button>{{/link-to}}
</div>
