<div class="question">
  <h1>Question: "{{model.query}}"</h1>
  {{question-details question=model update="update" delete="delete"}}
</div>
<div class="new-answer">
  {{new-answer question=model saveAnswer='saveAnswer'}}
</div>
<div class="answers">
  <h3>Answers:</h3>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer deleteAnswer="deleteAnswer"}}
  {{/each}}
</div>
